@import "tailwindcss";

.theme {
  --font-clashdisplay: 'Clash Display', sans-serif;
  --font-satoshi: 'Satoshi', sans-serif;
}

@font-face {
  font-family: 'Clash Display';
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2');
}


@font-face {
  font-family: 'Satoshi';
  font-style: regular;
  font-weight: 400;
  font-display: swap;

  src: url('./fonts/Satoshi-Regular.woff2') format('woff2');
}